In [1]:
import pandas as pd;
df = pd.read_csv('recseng_type1_dataset.csv')

In [2]:
df

,userid,artid,artist,title,style,year,"Source (1 = classical, 2 = modern, 3 = nonhuman)","computerOrAnimal (0 = human, 1 = computer, 2 = animal)","Intent (0 = no, 1 = yes)",pref_ratings,user_age,user_gender,political_orientation,art_education,general_sophistication,am_i_an_artist
0,1,1,Durer,Self-Portrait,Northern Renaissance,1500,1,0,1,7,19,2,3,0,2,2
1,1,2,de Vinci,Mona Lisa,Renaissance,1503,1,0,1,6,19,2,3,0,2,2
2,1,3,Michelangelo,The Creation of Adam,Italian Renaissance,1512,1,0,1,2,19,2,3,0,2,2
3,1,4,Bruegel,Tower of Babel,Dutch and Flemish Renaissance,1563,1,0,1,6,19,2,3,0,2,2
4,1,5,Hals,Laughing Cavalier,Baroque,1624,1,0,1,3,19,2,3,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,23,76,Computer,Nest,Abstract,2017,3,1,0,1,19,2,3,3,1,2
795,23,77,Computer,Splatter,Abstract,2017,3,1,0,4,19,2,3,3,1,2
796,23,78,Computer,Heidegger,Abstract,2017,3,1,1,1,19,2,3,3,1,2
797,23,79,Computer,Tunnel,Abstract,2017,3,1,1,4,19,2,3,3,1,2
798,23,80,Computer,Volcano,Abstract,2017,3,1,1,1,19,2,3,3,1,2

In [3]:
from surprise import Dataset, Reader, SVD
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

ModuleNotFoundError: No module named 'surprise'